.post{
    width: 450px;
    margin: 20px auto;
}
.post-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.html5 {
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
}
.rigoberto{
    width: 100%;
}
.rigoberto h1 {
    font-size: 24px;
    margin: 0;
    padding-left: 10px;
}
.rigoberto p {
    font-size: 16px;
    margin: 0;
    padding-left: 10px;
}
.hamburguesa{
    font-size: 24px;
}
.post-icons{
    display: flex;
    justify-content: space-between;
}
.post-img{
    width: 100%;
}
.post-img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
}